header {
  width: auto;

}

h3 {
  font-size: 35px;
  font-family: 'Niconne', cursive;
  background-color: rgba(255, 255, 255, 0.49);
  width: auto;
  height: 90px;
  padding-top: 50px;
  text-align: center;
}
body {
  background-image: url(img/beans.jpeg);
  align-content: center;
}

p {
  font-family: 'Niconne', cursive;
  font-size: 30px;
  color: white;
  background-color: black;
}

#img1 {
  width: 230px;
  height: 230px;

}

#img2 {
  width: 230px;
  height: 230px;

}


figure {
  background-color: rgba(255, 255, 255, 0.49);
  padding-top: 30px;
  padding-bottom: 30px;
}

canvas {
  background-color: rgba(160, 232, 168, 0.3);
}

